<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SerialShell.Properties.Settings>
            <setting name="connectionbaud" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="connectiondatasize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectionstopbits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="connectionparity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="senddatatype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendlineending" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendsendfilepath" serializeAs="String">
                <value/>
            </setting>
            <setting name="receivedatatype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="receivelogpath" serializeAs="String">
                <value/>
            </setting>
            <setting name="receivelogpathCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="metrostyle" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="metrotheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="shortcutJoystickButton1_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickButton1_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickButton1_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton2_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickButton2_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickButton2_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton3_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickButton3_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickButton3_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton4_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickButton4_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickButton4_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL1_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickL1_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickL1_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL2_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickL2_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickL2_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL3_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickL3_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickL3_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR1_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickR1_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickR1_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR2_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickR2_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickR2_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR3_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickR3_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickR3_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickUp_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickUp_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickUp_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickDown_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickDown_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickDown_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickLeft_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickLeft_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickLeft_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickRight_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickRight_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickRight_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickStart_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickStart_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickStart_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickSelect_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutJoystickSelect_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutJoystickSelect_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl0_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl0_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl0_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl1_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl1_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl1_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl2_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl2_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl2_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl3_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl3_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl3_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl4_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl4_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl4_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl5_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl5_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl5_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl6_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl6_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl6_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl7_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl7_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl7_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl8_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl8_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl8_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl9_Type" serializeAs="String">
                <value>string</value>
            </setting>
            <setting name="shortcutKeyboardCtrl9_Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortcutKeyboardCtrl9_Data" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton1_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton2_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton3_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickButton4_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL1_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL2_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickL3_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR1_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR2_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickR3_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickStart_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickSelect_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickLeft_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickRight_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickUp_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutJoystickDown_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl0_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl1_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl2_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl3_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl4_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl5_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl6_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl7_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl8_DataRelease" serializeAs="String">
                <value/>
            </setting>
            <setting name="shortcutKeyboardCtrl9_DataRelease" serializeAs="String">
                <value/>
            </setting>
        </SerialShell.Properties.Settings>
    </userSettings>
</configuration>