<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SerialShell.Properties.Settings>
            <setting name="Button1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Button2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Button3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Button4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Left1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Right1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Left2" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Right2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Select" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Down" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LeftAnalogMid" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RightAnalogMid" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SendEndOfLineChar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Button1Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Button2Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Button3Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Button4Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left1Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Right1Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left2Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Right2Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftAnalogMidRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightAnalogMidRepeat" serializeAs="String">
                <value>False</value>
            </setting>
        </SerialShell.Properties.Settings>
    </userSettings>
</configuration>